---
// src/pages/news.astro
import MainGridLayout from '../layouts/MainGridLayout.astro';
---

<MainGridLayout title="News" description="News">
  <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative">
    <div class="card-base z-10 p-0 relative w-full">
      <iframe
        src="https://60s.lylme.com/"
        title="News - 60秒读懂世界"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="w-full h-[540vh] border-0 "
      ></iframe>
    </div>
  </div>
</MainGridLayout>
